.btn-block {
  width: 50%;
  border-radius: 0px;
}
.jumbotron {
  position: relative;
  background: #fff url("../../assets/img/bg2.jpg") center center;/*slide.jpg =>you image*/    
  width: 100%;
  height: auto;
  background-size: contain;
  
}
.form-group .checkbox a:hover{

  text-decoration: underline !important;
 
}

a i{
  padding-right: 10px;
}
.recentheading {
  padding: 14px;
  color: #007e56;
  font-weight: 500;
  font-size: 20px;
}

.footer-copyright a{
    color: #007e56;
  }

.footer-copyright a:hover{
  cursor: pointer;
  text-decoration: underline;
}
a i{
  padding-right: 10px;
}

  .card{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
.btn{
   background-color:#007e56 ;
  }
  .card-header{ 
    background-color:#007e56 ;
    color: white;
  }
 
.btn:hover{
color: black;
  }

  .container {
    max-width: 734px !important;
  }

.has-error label,
.has-error input,
.has-error textarea {
    color: red;
    border-color: red;
}

.list-unstyled li {
    font-size: 13px;
    padding: 4px 0 0;
    color: red;
}
 ul.breadcrumb {
  margin-top: 60px ;
}
.topnav {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   position: fixed;
   width: 100%;
   z-index:1; 
  top: 0px;
    background-color: #ffffff;
  }
  .col-md-6 .viewll:hover{
text-decoration: underline;

  }
  .topnav a {
    float: right;
    display: block;
    color:black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
   
    }
    
    .active {
    
    color: #007e56;
    }
    
    .topnav .icon {
    display: none;
    }
    
    .dropdown {
    float: right;
    position: relative;
    z-index: 2;
    }
    
    .dropdown .dropbtn {
      text-transform: uppercase;
      font-size: 16px;
   
    border: none;
    outline: none;
    color: black;
    padding: 20px 16px;
    background-color: #ffffff;
    font-family: inherit;
    margin: 0;
    }
    
    .dropdown-content {
      right: 0px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    }
    
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    .dropdown-content button {
      text-transform: uppercase;
      font-size: 16px;
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      }
    .dropdown-content .drop {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      }
    .topnav a:hover, .dropdown:hover .dropbtn {
    cursor: pointer;
    color:#007e56;
    }
    
    .dropdown-content a:hover {
    cursor: pointer;
    color: #007e56;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    z-index: auto;
    }
    @media screen and (max-width: 768px) {
    
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
        /* background-color: rgb(220, 237, 232); */
        color: black;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    
    }
    
    @media screen and (max-width: 768px) {
        
     
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
      .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        width: 100% !important;
    }
     
    }
   .breadcrumb{
     margin-top: 10px;
   }
  
    ul.breadcrumb {
      padding: 12px 16px;
      list-style: none;
      background-color: #f3ebeb03;
    }
    ul.breadcrumb li {
      display: inline;
      font-size: 17px;
    }
    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
    ul.breadcrumb li a {
      color: #007e56;
      text-decoration: none;
    }
    ul.breadcrumb li a:hover {
      color: #007e56;
      text-decoration: underline;
    }




.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

.loading:not(:required) {
 
  font: 0/0 a;
  color: #007e56;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
    .footer-copyright{
    font-size: 8px;
    padding-left: 0px !important;
  }
  .footer-copyright a{
    font-size: 8px;
    padding-left: 3px !important;
    
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 12px !important;
  }
  .topnav{
    padding-right: 0px !important;
  }
}
