<div class="topnav" id="myTopnav">
    <label>
    <img class ="ulogo" src="../assets/img/logo Curve.png" >
  </label>
  
 
 
    
      
  
  
  
  <input type="text" value="Conform Your Uniform" hidden>
    
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
   
    <input type="text" value="Conform Your Uniform" hidden>
  </div>

  <ul class="breadcrumb">
    <li><a (click)="rouerter('/supplierhome','supplierhome','home')" routerLinkActive="active" style="cursor: pointer">Home</a></li>
    <li><a  routerLinkActive="active">Message</a></li>
  </ul>
   

<div class="container justify-content-center">
    <div class="card text-center center">
        <div class="card-header">
        
        </div>
        <div class="card-body">

          <p class="card-text">“Congratulations! You have successfully applied for  Verification. Please wait for further notifications from the admin.”</p>
      
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
</div>
  
