
<div class="topnav" id="myTopnav">
  <label>
  <img class ="ulogo" src="../assets/img/logo Curve.png" >
  </label>
<!--   
  <a href="#about">About</a>
  <a routerLink="/home" routerLinkActive="active">Home</a> -->
  <button class="drop" href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</button>
</div>


<div id="mySidenav" class="sidenav" style="margin-top: 90px;">
  <button  href="javascript:void(0)" class="closebtn" style="border: none;float: right;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;" onclick="closeNav()">&times;</button>
  <button class="drop"(click)="rourter('/adminhome','adminhome','home')" style ="cursor: pointer;width: 100%;">Home</button>
  <button class="drop" (click)="rourter('/supplier_list','adminhome','home')" style ="cursor: pointer; width: 100%;">Supplier List</button>
  <button class="drop" (click)="rourter('/buyers_list','adminhome','home')" style ="cursor: pointer; width: 100%;">Buyers List</button>
  <button class="drop" (click)="rourter('/supplier_details','adminhome','home')" style ="cursor: pointer; width: 100%;">Supplier Details</button>
  <button class="drop"   (click)="rourter('/order_details','adminhome','home')" style ="cursor: pointer; width: 100%;">Customer Orders</button>
  <button class="drop" routerLinkActive="active"   style="cursor: initial; width: 100%;color: white;"> Quotations</button>
  <button class="drop"  (click)="rourter('/banner','adminhome','home')" style ="cursor: pointer; width: 100%;"> Banner list</button>
  <button class="drop"  (click)="rourter('/adminlabourlist','adminhome','home')" style ="cursor: pointer; width: 100%;"> Labour list</button>
  <button class="drop" (click)="rourter('/adminmachinelist','adminhome','home')" style ="cursor: pointer; width: 100%;">  Machine Supplier Details</button>
  <button class="drop" (click)="rourter('/adminproduct','adminhome','home')">  Machine And Spare List</button>
  <button class="drop"  (click)="rourter('/adminaccs','adminhome','home')"> ReadyMade And Accessories List</button>
</div>

<h2></h2>
<p></p>
<div class="ico">
  <span class="icon" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
  </div>
 
  <div class="container" style="padding-top:120px ;">
    <h2 style="padding-bottom: 50px;" class="recentheading">QUOTATIONS LIST</h2>
 

    <div class="container" >
        <div class="row">
          <label>Search: &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label>
          <input    [(ngModel)]="searchword" (input)="searchThis()"  class="form-control" id="myInput" type="text" placeholder="Search by below items" style="width: 60% !important;border-radius: 20px;">
            <!-- <span class="mt-2">Search:</span> -->
          <!-- <div class="col-md-6" >
              
             
              <input style="border-radius: 20px;"  [(ngModel)]="searchword" (input)="searchThis()"  class="form-control" id="myInput" type="text" placeholder="Search by below items" >
          </div> -->
        
      
          
      
        </div>
      </div>
   
  

    
     <table class="table table-bordered table-striped mt-3">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">QUOTE ID</th>
            <th scope="col">SUPPLIER ID</th>
            <th scope="col">BUYER ID</th>
            <th scope="col">ORDER ID</th>
            <!-- <th scope="col"> DATE</th> -->
            <th scope="col">STATUS</th>
            <th scope="col">TOTAL</th>
       
      
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr *ngFor="let item of  this.ProdList |filter:searchword as result">
            <td>{{item['quotatit_id']}}</td>
            <td>{{item['quatation_form_id']}}</td>
            <td>{{item['supplier_id']}}</td>
            <td>{{item['user_id']}}</td>
            <td>{{item['order_form_id']}}</td>
            <!-- <td>{{item['quotatit_id']}}</td> -->
            <td>{{item['is_order_accepted']}}</td>
            <td>{{item['grand_total']}}</td>
         
         
         
          <td>
            <a  (click)="rouerter1('finalquoteform',item['order_form_id'],item['prod_sub_type'],item['quatation_form_id'])" routerLinkActive="active"  style="cursor: pointer;text-decoration: underline;color: #007e56 ;">View Quotation 
                form </a>
          </td>
        </tr>
    
   
      
      </tbody>
    </table> 
     

<div *ngIf="this.Loader" class="loading">Loading&#8230;</div>
<br><br>
<footer class="page-footer font-small blue">
  
  <!-- Copyright -->

  <div class="footer-copyright text-center py-3" >© 2020 Copyright:All Right Reserved &nbsp;&nbsp;&nbsp;
    <a style="padding-right: 5px; cursor: pointer;"(click)="rourter('/terms','uniforms','supplier')" >Terms of Use - </a>
    <a style="cursor: pointer;"(click)="rourter('/privacy','uniforms','supplier')" >Privacy Policy - </a>
    <a style="cursor: pointer;"(click)="rourter('/contact','uniforms','supplier')" >Link to Us</a>
  </div>
 
 
  <!-- Copyright -->

</footer>

    

