<!-- <div class="topnav" id="myTopnav">
  <label>
  <img class ="ulogo" src="../assets/img/logo Curve.png" >
</label>

<a (click)="rouerter('/contact','supplierhome','home')" routerLinkActive="active"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
  <a (click)="rouerter('/supplierhome','supplierhome','home')" class="active" ><i class="fa fa-fw fa-home"></i>Home</a>

  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
 -->
 <div class="topnav" id="myTopnav">
  <label>
  <img class ="ulogo" src="../assets/img/logo Curve.png" >
</label>


 
<!--  
<div  *ngIf="!this.User_id" class="dropdown">
  <button class="dropbtn" (click)="rouerter('/login','uniforms','customer')"><i class="fa fa-sign-in"></i> Login</button>
  </div> -->
  <div  *ngIf="this.User_id" class="dropdown">
    <button class="dropbtn" (click)="LogOut()"><i class="fa fa-sign-out"></i> LogOut</button>
    </div>





  
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <button class="drop" (click)="rouerter('/contact','uniforms','customer')" style="width: 100%;border: none;background: none;" routerLinkActive="active"> <i class="fa fa-fw fa-envelope" style="padding-right: 30px;"></i>Contact Us</button>
      <button class="drop"  (click)="rouerter('/terms','uniforms','supplier')" style="width: 100%;border: none;background: none;"routerLinkActive="active" > <i class="fa fa-gavel" style="padding-right: 10px;"></i>Terms And Conditions</button>
      <button class="drop"  (click)="rouerter('/privacy','uniforms','supplier')" style="width: 100%;border: none;background: none;"routerLinkActive="active" >  <i class="fa fa-user-secret" style="padding-right: 10px;"></i>Privacy And Policy</button>
    </div>
  </div> 
  


  <div   class="dropdown">
    <button class="dropbtn" (click)="rouerter('/supplierhome','uniforms','customer')"><i class="fa fa-fw fa-home"></i> Home</button>
    </div>
  
    



<input type="text" value="Conform Your Uniform" hidden>
  
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
 
  <input type="text" value="Conform Your Uniform" hidden>
</div>
<input type="text" value="Conform Your Uniform" hidden>
<input type="text" value="Conform Your Uniform" hidden>

 
<div class="jumbotron">
<ul class="breadcrumb">
  <li><a (click)="rouerter('/supplierhome','supplierhome','home')"  routerLinkActive="active" style="cursor: pointer;">Home</a></li>
  <li><a class="active" style="color: #007e56;cursor: initial;">Fabric</a></li>
</ul>

<div class="container mt-5">
    <div class="card">

        <h3 class="card-header text-center">Product Add </h3>
        <div class="card-body">
            <form role="form" data-toggle="validator">
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" class="form-control" data-error="You must have a Item Name." id="inputName" placeholder="Please provide a Item Name" required>

                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                </div>
                  <div class="form-group">
                    <label>Item Code</label>
                    <input type="text" class="form-control" data-error="You must have a Item Code." id="inputName" placeholder="Please provide a Item Code" required>

                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1">XS</label>
                      </div>
                      
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2">S</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio3"
                          value="option3"
                        />
                        <label class="form-check-label" for="inlineRadio3">M</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio4"
                          value="option4"
                        />
                        <label class="form-check-label" for="inlineRadio4">L</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio5"
                          value="option5"
                        />
                        <label class="form-check-label" for="inlineRadio5">XL</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio6"
                          value="option6"
                        />
                        <label class="form-check-label" for="inlineRadio6">XXL</label>
                      </div>
                    <div class="help-block with-errors"></div>
                </div> 
                <div class="form-group">
                    <label>Shades</label>
                    <input type="text" class="form-control" data-error="You must have a Shades." id="inputName" placeholder="Please provide a Shades" required>

                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                </div>
                <label style="
                    text-align:right"> Choose Image</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" data-error="You must have a Price." id="inputName" placeholder="Please provide a Price" required>
    
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>  <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" data-error="You must have a Quantity." id="inputName" placeholder="Please provide a Quantity" required>
    
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>
                <div class="form-group" style="padding-top: 20px;">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="this.Loader" class="loading">Loading&#8230;</div>
<br>
<br>
<footer class="page-footer font-small blue">
  
  <!-- Copyright -->
 
 
  <div class="footer-copyright text-center py-3" >© 2020 Copyright:All Right Reserved &nbsp;&nbsp;&nbsp;
    <a style="padding-right: 5px; cursor: pointer;"(click)="rouerter('/terms','uniforms','supplier')" >Terms of Use - </a>
    <a style="cursor: pointer;"(click)="rouerter('/privacy','uniforms','supplier')" >Privacy Policy - </a>
    <a style="cursor: pointer;"(click)="rouerter('/contact','uniforms','supplier')" >Link to Us</a>
  </div>
 
  <!-- Copyright -->

</footer>
</div>


